# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

*.pbxproj

*.pbxproj

*.pbxproj

*.pbxproj

*.xcworkspacedata

*.xctimeline

*.xcplayground

*.xcworkspacedata

*.xcworkspacedata

*.pbxproj

20150608-2.playground/Sources/SupportCode.swift

test.playground/Sources/SupportCode.swift

20150608-1/20150608-1.xcodeproj/project.xcworkspace/contents.xcworkspacedata

20150608-1/20150608-1.xcodeproj/project.pbxproj

20150608-3.playground/Sources/SupportCode.swift

20150608-5.playground/Sources/SupportCode.swift

MyPlayground.playground/Results.playgrounddata

MyPlayground.playground/Sources/SupportCode.swift

20150615-2.playground/Contents.swift

*.plist

a123456/a123456Tests/Info.plist

*.plist

*.xib

MyPlayground.playground/Contents.swift

.DS_Store
